{% extends 'main/base.html' %}
{% block title %}Управление студентами {% endblock %}
{% block head %}
  Список студентов
{% endblock %}
  {% block content %}
    <div class="row form-group">
    <div class=" col-sm-12">
      <div class="box">
      <table id="example2" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th> Фамилия</th>
            <th> Имя </th>
            <th>  </th>
            <!-- <th></th>
            <th></th> -->
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          <tr>
            <td> {{student.last_name}} </td>
            <td> {{student.first_name}}</td>
            <td> {% if user.is_authenticated %} Расписание {% else %} Не авторизован {% endif %} </td>
            <!-- <td> <a href="#" > <span class="glyphicon glyphicon-edit text-muted"></span> </a></td>
            <td><a href="#" >  <span class="glyphicon glyphicon-remove text-danger"></span> </a></td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div><!-- /.box -->
  </div>
  {% endblock content %}